body {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  margin: 25px;
}

form {
  border: 1px solid #657c97;
  border-radius: 2px;
  display: inline-block;
  margin-right: 25px;
  padding: 25px;
  width: 500px;
}

main {
  display: inline-block;
  margin-top: 25px;
  vertical-align: top;
  width: 700px;
}

h1 {
  margin: 0;
}

a {
  color: #474cde;
}

input[type="text"] {
  border: 1px solid #657c97;
  border-radius: 2px;
  font-size: 1rem;
  padding: 10px;
  transition: 0.4s ease-out;
  width: 350px;
}

label.text {
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
}

label.radio {
  cursor: pointer;
}

p.radio-inline-group {
  margin: 25px 0;
}

p.radio-inline-group label {
  margin-right: 10px;
}

button {
  background: #657c97;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  color: #eee;
  cursor: pointer;
  margin-right: 20px;
  padding: 20px 0;
  transition: 0.2s ease-out;
  width: 200px;
}

button:hover {
  filter: brightness(1.2);
}

#code {
  border: 1px solid #657c97;
  border-radius: 2px;
  color: #657c97;
  font-family: monospace;
  resize: none;
  margin-top: 25px;
  width: 100%;
  height: 120px;
}
